.intro-section-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(470px, auto));
  grid-auto-rows: auto;

  padding-left: 4rem;
  padding-right: 4rem;

  .intro-section__textgrid{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(3, auto);

    .intro-header {
      grid-column:  1 / span 2;
      grid-row-start: 1;
      margin: 0;
    }

    .intro-body {
      grid-column:  1 / span 2;
      grid-row-start: 2;
      text-align: justify;
    }

    .social-btn-cont{
      font-size: 10px;
      list-style: none;
      padding: 0;

      grid-column-start: 1;
      grid-row-start: 3;


      a {
        text-decoration: none;
        color: salmon;


        &:hover{
          .fab {
            color: salmon;
            -webkit-transition: color .25s linear;
             -moz-transition: color .25s linear;
             -ms-transition: color .25s linear;
             -o-transition: color .25s linear;
             transition: color .25s linear;
          }
        }

        .fab {
          color: rgb(117, 117, 117);
          padding: 3px;
        }
      }

      li {
        display: inline-block;
      }
    }

    .info-btn-cont{
      grid-column-start: 2;
      grid-row-start: 3;

      li {
        display: inline;
      }
    }
  }

  .intro-image {
    align-self: center;
    justify-self: center;
    width: 400px;
  }
}
